<div id="archive-ui" hx-target="this" hx-swap="outerHTML">
    {{ if eq .archiver.Status "Waiting" }}
    <button hx-post="/contacts/archive">
        Download Contact Archive
    </button>
    {{ else if eq .archiver.Status "Running" }}
        <div hx-get="/contacts/archive" hx-trigger="load delay:500ms">
            Creating Archive...
            <div class="progress">
            <div id="progress-bar"
                class="progress-bar"
                role="progressbar"
                aria-valuenow="{{ mul .archiver.Progress 100 }}"
                style="width:{{ mul .archiver.Progress 100 }}%"></div>
            </div>
        </div>
    {{ else if eq .archiver.Status "Complete" }}
        <a hx-boost="false" href="/contacts/archive/file">
            Archive Ready! Click here to download. &downarrow;
        </a>
    {{ end }}
</div>
